*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:16px;

}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(187, 241, 156);

}
a{
   
    text-decoration: none;
}

.btn{
    padding:0.8rem 1.2rem;
    text-transform: captialize;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    transition:all .5s ease-in;
    
}
.btn:hover{
    cursor:pointer;
    transform : translateY(-2px);
}
.btn-red{
    background-color: rgb(255,125, 125);
    border: 2px solid rgb(255,125, 125);
    color: #fff;
}
.btn-green{
    background-color: rgb(125, 255,125);
    border: 2px solid rgb(255,125, 125);
    color: #333;
}
.btn-blue{
    background-color: rgb(125, 125, 255);
    border: 2px solidrgb(125, 125, 255);
    color: #fff;

}
.modal-card{
    padding:1rem;
    border-radius: 8px;
    border: 2px solid #1c2042;
    width: 75%;
    max-width:  30rem;
    margin:1rem auto;
    background-color: #fff;
    transition: all 0.5s ease-in;
    transform: translateY(-1000px);
    position:relative;
    z-index: 10002;
    transition:all .5s ease-in;

}
.img-fluid{
    width: 100%;
    height:auto;
    display: block;
    object-fit: cover;
}
.modal-header{
    padding: 0rem;

}
.modal-card.show{
  transform: translateY(0px);  
}
.btn-close{
  position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1003;
}

.btn-close button{
    padding:0.5rem;
    font-size: 1rem;
    width:1rem;
    height: 1rem;
    font-weight: 900;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 134, 134, 0.5);
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(255, 125, 125);
    background: linear-gradient(
        90deg,
        rgba(255,125,125,0.85) 0%,
        rgba(125, 255, 255, 0.85) 50%,
        rgba(125, 125, 255, 0.85) 100%
    );
    z-index: 1000;
    visibility: hidden;
    transition: all 0.5s ease;
}
.overlay.show{
    
    visibility: visible;

}
